<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>SakuraFrp 核心服务</string>
	<key>CFBundleName</key>
	<string>SakuraFrp 核心服务</string>
	<key>CFBundleIdentifier</key>
	<string>com.natfrp.launcher</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0.0-rc-2</string>
	<key>CFBundleExecutable</key>
	<string>natfrp-service</string>
	<key>LSBackgroundOnly</key>
	<true/>
</dict>
</plist>
